* {
	font-family: sans-serif;


}
body{
		background-image: url("fondo.jpg");
}

header nav ul {

	margin-top: 0px;
	width: 100%;
	background-color: #000;
}

header nav ul li{

	display: inline-block;	
	background-color:#000;
	padding-right: 2%;
	padding-top: 0.8%;
	padding-bottom: 0.8%;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

header nav ul li a {

	text-decoration: none;
	color: #fff;
	padding-left: 20px;
}

header nav ul li:hover{
	background-color: #FC6363;
}


div{
	border:3px solid;
	border-right: none;
	border-left: none;
}
hr{
	height: 2px;
	color: #000;
}

.parrafos{

	font-size: 18px;
	color: #0B0D27;
}

#conclu{
	font-size: 20px;
}
#race{
	width: 400px;
	height: 200px;
	margin-left: 10px;
	box-shadow: 10px 10px 20px 2px;
}

#iq{
	width: 400px;
	height: 200px;
	margin-left: 50px;
	box-shadow: 10px 10px 20px 2px;	 
}

#iq2{
	width: 400px;
	height: 200px;
	position: relative;
	margin-left: 50px;
	box-shadow: 10px 10px 20px 2px;
	
}